<h1>{{codename.name}}</h1>
<img ng-src='{{codename.images[0].url}}'>

<h2>Summary</h2>
<div>{{codename.summary}}</div>

<h2>Description</h2>
<div>{{codename.description}}</div>

<h2>References</h2>
<ul>
  <li ng-repeat='reference in codename.references'>
    <a href="{{reference.externalUrl}}">{{reference.annotation}}</a>
  </li>
</ul>

<button ng-show='auth.isAdmin()'
        class='btn btn-primary pull-right'
        ng-click='delete()'
        ng-disabled='disableDeleteButton'>
  <i class='fa fa-trash'></i>
  Delete This Codename
  <img src='/static/img/spinner-white.gif'
           class='spinner hide pull-right'>
</button>
