<h1>{{codename.name}}</h1>
<div class='carousel' ng-class='{"show-hud": showHud}'>
  <img ng-src='{{codename.images[currentImageIndex].url}}'>

  <p class='attribution'>
    Contributed by <i class='fa fa-user'></i> johndoe.
    25 awesomes.
  </p>

  <button class='btn backward'
          ng-click='backward()'
          ng-show='codename.images.length > 1'>
    <i class='fa fa-arrow-circle-left'></i>
  </button>

  <button class='btn forward'
          ng-click='forward()'
          ng-show='codename.images.length > 1'>
    <i class='fa fa-arrow-circle-right'></i>
  </button>

  <div class='paginator' ng-show='codename.images.length > 1'>
    <input ng-repeat='image in codename.images'
           type='radio'
           name='imageSelector'
           class='btn btn-primary'
           ng-checked='currentImageIndex == $index'
           ng-click='currentImageIndex = $index'>
  </div>

  <button class='btn btn-default btn-xs pull-left'
          ng-click='vote()'
          ng-disabled="disableCarouselButtons">
    <i class='fa fa-thumbs-up'></i>
    Awesome
  </button>

  <button class='btn btn-default btn-xs pull-right'
          ng-click='selectFile()'
          ng-disabled='disableCarouselButtons'>
    <i class='fa fa-cloud-upload'></i>
    Submit Artwork
    <div class="progress progress-striped" ng-show='showProgress'>
      <div class="progress-bar" style="width: 50%"></div>
    </div>
  </button>

  <input type="file" class='hide' ng-change='upload($event)'>

  <div class='clear'></div>
</div>

<div class="alert alert-danger" ng-hide='status == ""'>
  <strong>Error:</strong> {{status}}
</div>

<h2>Summary</h2>
<markdown text='codename.summary'
          editable='editable'
          save-handler='saveCodename'
          rows='10'>
</markdown>

<h2>Description</h2>
<markdown text='codename.description'
          editable='editable'
          save-handler='saveCodename'
          rows='20'>
</markdown>

<h2>References</h2>
<p ng-show='codename.references.length == 0'>
  This codename has no references.
</p>
<ul class='references'>
  <li ng-repeat='reference in codename.references'>
    <a href="{{reference.externalUrl}}">{{reference.annotation}}</a>
    <button class='btn btn-primary btn-xs'
            ng-show='editable'
            ng-click='deleteReference($index)'>
      <i class='fa fa-trash'></i>
      Remove Reference
    </button>
  </li>
  <li ng-show='editable && showAddReferenceForm'>
    <input placeholder='URL' ng-model='newReferenceUrl'>
    <input placeholder='Annotation' ng-model='newReferenceAnnotation'>
    <button class='btn btn-link btn-sm' ng-click='addReference()'>
      <i class='fa fa-save'></i>
      Save
    </button>
    <button class='btn btn-link btn-sm' ng-click='showAddReferenceForm=false'>
      <i class='fa fa-trash'></i>
      Discard
    </button>
  </li>
</ul>
<p ng-show='editable'>
  <button class='btn btn-primary btn-sm'
          ng-show='!showAddReferenceForm'
          ng-click='showAddReferenceForm=true'>
    <i class='fa fa-plus-circle'></i>
    Add Reference
  </button>
</p>

<button ng-if='auth.isAdmin()'
        class='btn btn-primary pull-right'
        ng-click='deleteCodename()'
        ng-disabled='disableDeleteButton'>
  <i class='fa fa-trash'></i>
  Delete This Codename
  <img class='spinner'
       ng-show='showSpinner'
       src='/static/img/spinner-white.gif'>
</button>
