<div>
  <h1>About</h1>
  <h2>Motivation</h2>
  <p>
    This site was inspired by the colorful codenames used
    for various NSA programs. The codenames evoke vivid imagery,
    and the they are perfectly suited for vivid, crowd-sourced
    illustrations.
  </p>
  <p>
    Our motive is to provide a comprehensive and useful database
    for American taxpayers to understand and analyze the intelligence
    programs that they pay for. In order to open this information up as
    much as possible, this site also features an API that enables
    programmatic access to our curated dataset.
  </p>
  <p>
    We place equal emphasis on whimsy and practicality; amusement and
    information. As you browse this site, we hope you'll laugh and
    cringe at alternating moments.
  </p>
  <h2>Under The Hood</h2>
  <p>
    This site is built as a single page application (SPA) with
    <a href='https://angulardart.org/'>Angular Dart</a> using a
    <a href='http://bootswatch.com/journal/'>Bootwatch theme</a>.
    This SPA supports deep links and
    <a href='https://developers.google.com/webmasters/ajax-crawling/docs/getting-started'>
    search engine spiders</a>.
    The server side is written in Python using the
    <a href='http://flask.pocoo.org/'>Flask microframework</a>.
  </p>
</div>
