<div class="jumbotron">
  <h1>NSA:Codenames</h1>
  <p>Weclome to NSA:Codenames, a curated dataset of codenames used
  by the NSA, as reported by the media.</p>
  <p><a href="#/about" class="btn btn-primary btn-lg">Learn more</a></p>
</div>

<p>
  This site only lists codenames that have been covered by mainstream
  media outlets. It is <em>not a leak site</em> and does not perform
  any primary research or journalism.
</p>

<p>
  If you're not sure where to start, then we suggest that you peruse the
  <a href="#/index">alphabetical index</a> of codenames or
  <a href="#/search">search</a> for a particular codename.
</p>

<p>
  If you are aware of a codename that is not contained in this database,
  please send us a link to a reputable news source using our issue tracker.
</p>
